# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# Logs
logs/
*.log

# Resultados generados
resultados/
raw/
processed/
sessions/
figures/
screenshots/
reports/
configs/
*.csv
*.png
*.json

# Arduino / VS Code
.vscode/
build/
*.hex
*.elf
*.bin
*.eep

# Sistema
.DS_Store
Thumbs.db
